<!DOCTYPE html>
<html>
    <head>
        <title>Repeat Counter</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
        <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='css/styles.css'>
    </head>
    <body>
        <div class='container'>
            <div class='page-header'>
                <a href='/'><h1><img src='/img/logo.png' class='logo'>JUSTICE SERVED</h1></a>
            </div>

            <div class='jumbotron'>
                <h2>Search Result</h2>
                <h4>word count "<span class='text-color'>{{ search_result }}</span>"</h4>
            </div>

            <a href='/'><button name='home' class='btn btn-danger'>Home</button></a>

        </div>
    </body>
</html>
