<!DOCTYPE html>
<html>
    <head>
        <!-- Meta data -->
        <meta charset='utf-8' />

        <!-- Styles -->
        <link rel='stylesheet' href='css/styles.css'>

        <!-- Page title -->
        <title>My Project</title>
    </head>
    <body>
        <p>Hi. I'm a <strong>boilerplate</strong>. Use me to make something awesome, <em>faster</em>.</p>
    </body>
</html>
