<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta data -->
        <meta charset="utf-8" />

        <!-- styles -->
        <link rel="stylesheet" href="css/styles.css">

        <!-- page title -->
        <title>My Project</title>
    </head>
    <body>
        <p>Hi. I'm a <strong>boilerplate</strong>. Use me to make something awesome, <em>faster</em>.</p>
    </body>
</html>
