<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- meta -->
    <meta charset="utf-8" />

    <!-- styles -->
    <link href="<%= url('/assets/css/style.css') %>" rel="stylesheet" type="text/css" />

    <!-- title -->
    <title>My App</title>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
