<div class="col-md-12">
  <form action="/title">
    <div class="form-group">
      <label for="title">Enter a word or phrase to be title cased</label>
      <input type="text" class="form-control" id="title" name="title" />
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>
