<div class="col-md-12">
  <form action="/scrabble">
    <div class="form-group">
      <label for="word">Enter a word</label>
      <input type="text" class="form-control" id="word" name="word" />
    </div>
    <button type="submit" class="btn btn-primary">Calculate Score</button>
  </form>
</div>
