<div class="col-md-12">
  <h2>Result</h2>

  <% if @result === true %>
    <p>Queen <em>can</em> attack!</p>
  <% elsif @result === false %>
    <p>Queen <em>cannot</em> attack!</p>
  <% end %>

  <hr/>
  <a href="/">&lt;&lt; Return Home</a>
</div>
