<form action="/attack">
  <div class="col-md-6">
    <div class="form-group">
      <h2>Start Coordinates</h2>
      <label for="x-start">X Coordinate</label>
      <input type="text" class="form-control" id="x-start" name="x-start" required />
      <label for="y-start">Y Coordinate</label>
      <input type="text" class="form-control" id="y-start" name="y-start" required />
    </div>
  </div>
  <div class="col-md-6">
    <h2>Target Coordinates</h2>
    <div class="form-group">
      <label for="x-end">X Coordinate</label>
      <input type="text" class="form-control" id="x-end" name="x-end" required />
      <label for="y-end">Y Coordinate</label>
      <input type="teyt" class="form-control" id="y-end" name="y-end" required />
    </div>
  </div>
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary">Attack!</button>
  </div>
</form>
