<div class="col-md-12">
  <form action="/ping-pong">
    <div class="form-group">
      <label for="count">Enter a number</label>
      <input type="text" class="form-control" name="count" id="count" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
