.page-header h1 {
    font-size: 50px;
    font-weight: 100;
    font-family: "Black Ops One";
    color: navy;
}

.page-header .logo {
    height: 125px;
    width: 125px;
    margin-right: 20px;
}

.btn {
    float: right;
    margin-top: 10px;
}

.text-color {
    color: red;
}

a:hover {
    text-decoration: none;
    color: navy;
}

input {
    margin-bottom: 20px;
}

.jumbotron h2 {
    padding-bottom: 25px;
}


h6 {
    margin-top: -10px;
    color: crimson;
}
