<!DOCTYPE html>
<html>
    <head>
        <title>frenemy | contact added</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/styles.css'>
    </head>
    <body>
        <div class='container'>
            <h1>SUCCESS!</h1>
            <p>You added a Contact to your Address Book.  Look how popular you're getting!</p>
            <br>
            <a href='/'><button name='home' id='home' class='btn btn-default' tabindex='1'>Home</button></a>
        </div> <!-- END DIV CONTAINER -->
    </body>
</html>
