<!DOCTYPE html>
<html>
    <head>
        <title>frenemy | all contacts deleted</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/styles.css'>
    </head>
    <body>
        <div class='container'>
            <h1>Poof! All Contacts Have Been Deleted!</h1>
            <p>They must have done something to really tick you off.</p>
            <p>I would hug you if I could. But I'm a computer, and hugging never made much sense to me since my first instantiation in the early 1940s.</p>
            <p>Chin up, though!</p>
            <br>
            <a href='/'><button name='home' id='home' class='btn btn-default' tabindex='1'>Home</button></a>
        </div> <!-- END DIV CONTAINER -->
    </body>
</html>
