<div class="col-md-12">
  <form action="/triangle">
    <div class="form-group">
      <label for="side-x">Enter length of side "x"</label>
      <input type="text" class="form-control" id="side-x" name="side-x" />
      <label for="side-y">Enter length of side "y"</label>
      <input type="text" class="form-control" id="side-y" name="side-y" />
      <label for="side-z">Enter length of side "z"</label>
      <input type="text" class="form-control" id="side-z" name="side-z" />
    </div>
    <button type="submit" class="btn btn-primary">Calculate</button>
  </form>
</div>
